<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.devopsolution.code9">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:name="com.devopsolution.code9.Code9App"
        android:allowBackup="true"
        android:icon="@drawable/square_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/circle_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.devopsolution.code9.ui.activities.main.MainActivity"
            android:configChanges="locale|orientation|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.activities.auth.AuthActivity"
            android:configChanges="locale|orientation|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name=".ui.activities.splash.SplashActivity"
            android:configChanges="locale|orientation|layoutDirection"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />

        <service
            android:name=".FCMService"
            android:exported="false"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>


    </application>

</manifest>